#jinja2:trim_blocks: True, lstrip_blocks: True, keep_trailing_newline: True
{% include "includes/junos.groups.j2" %}
{% include "includes/junos.system.j2" %}
{% include "includes/junos.interfaces.j2" %}
